@import 'https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap';

$graphite-gray: #53565b;
$cornflower-blue: #6495ED;
$white: #fff;
$warning: #FFC107;
$danger: #DC3545;
$success: #28A745;
$hot-pink: #FF69B4;
$neon-blue: #1F51FF;

/* Text fonts */
.text-bebas-neue {
  font-family: 'Bebas Neue', cursive;
}
.text-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Text sizes */
.text-massive {
    font-size: 3.0rem;
}
.text-xxl {
  font-size: 2.5rem;
}
.text-xl {
  font-size: 2rem;
}
.text-lg {
  font-size: 1.5rem;
}
.text-md {
  font-size: 1.25rem;
}
.text-sm {
  font-size: 1rem;
}
.text-xs {
  font-size: 0.75rem;
}

/* Text colors */
.text-cornflower-blue {
  color: $cornflower-blue !important;
}
.text-graphite-gray {
  color: $graphite-gray !important;
}
.text-hot-pink {
  color: $hot-pink !important;
}